<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MicroMall Login Page</title>
</head>
<body>
    <h2>Welcome to MicroMall</h2>
    <h4>Please login to start purchasing</h4>
    <form action="/login" method="post">
        <label for="email">Email: </label>
        <input required id="email" name="email" type="email"><br>

        <label for="password">Password: </label>
        <input required id="password" name="password" type="password"><br>

        <input type="submit" value="Login">
        <p style="color:red"><%= locals.fail %></p>
    </form>
    <a href="/register">Don't have an account? Sign up here</a>
</body>
</html>